# virtual environment
venv/

# remove __pycache__
app/__pycache__

__pycache__

app/routers/__pycache__

# ENV VARIABLES
.env

#systemd services and nginx
gunicornapi-og.service
gunifast service
nginx
requirements.txt.bak
